﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>@ViewBag.Title Memm</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    </head>
    <body>
        <div class="wrapper hidden-xs hidden-sm">
            <div class="top-bar">
                <ul>
                    <li id="playgrounds"><a href="/Home/PlaygroundList" id="playgrounds-link"></a></li>
                    <li id="feed"><a href="/Home/Feed" id="feed-link"><p id="feed-notification-number-l"></p></a></li>
                    <li id="friends"><a href="/Home/Friend" id="friends-link"><p id="friend-notification-number-l"></p></a></li>
                    <li id="me"><a href="/Home/Me" id="me-link"></a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper hidden-lg hidden-xs hidden-md">
            <div class="top-bar">
                <ul>
                    <li id="playgrounds-mobile"><a href="/Home/PlaygroundList" id="playgrounds-link-mobile"></a></li>
                    <li id="feed-mobile"><a href="/Home/Feed" id="feed-link-mobile"><p id="feed-notification-number-m"></p></a></li>
                    <li id="friends-mobile"><a href="/Home/Friend" id="friends-link-mobile"><p id="friend-notification-number-m"></p></a></li>
                    <li id="me-mobile"><a href="/Home/Me" id="me-link-mobile"></a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper hidden-sm hidden-md hidden-lg">
            <div class="top-bar">
                <ul>
                    <li id="playgrounds-mobile-small"><a href="/Home/PlaygroundList" id="playgrounds-link-mobile-small"></a></li>
                    <li id="feed-mobile-small"><a href="/Home/Feed" id="feed-link-mobile-small"><p id="feed-notification-number-s"></p></a></li>
                    <li id="friends-mobile-small"><a href="/Home/Friend" id="friends-link-mobile-small"><p id="friend-notification-number-s"></p></a></li>
                    <li id="me-mobile-small"><a href="/Home/Me" id="me-link-mobile-small"></a></li>
                </ul>
            </div>
        </div>

        <div class="container body-content main-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/notifications")
        @Scripts.Render("~/bundles/timeAgo")
        @RenderSection("scripts", required: false)
    </body>
</html>
