﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="error-image" src="/Data/Error.png" alt="Exclamation mark image"></img>
<div class="error-message">
    <p>Unfortunately, an error occurred while processing your request.</p>
    <p>Please bear in mind that this has nothing to do with you, it's us. We are confused at the moment but if you could maybe try again, our relationship might continue to grow and even evolve into something more.</p>
    <p>Hugs and kisses,</p>
    <p>Yours truly,</p>
    <p>The Memm Team.</p>
</div>