﻿@model Rolo.ViewModels.PlaygroundViewModel

@{
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Create", "Playground", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Playground</h4>
        <hr />
       @Html.ValidationSummary(true)
       
        <div class="form-group">
            @Html.Label("Playground Photo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
         
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>
 
        <div class="form-group">
            <p>Playground Features:</p>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Features.InfantSwings)
                <p>Infant swings</p>
                @Html.EditorFor(model => model.Features.Swings)
                <p>Swings</p>
                @Html.EditorFor(model => model.Features.Sandbox)
                <p>Sandbox</p>
                @Html.EditorFor(model => model.Features.InfantSlide)
                <p>Infant slide</p>
                @Html.EditorFor(model => model.Features.Slide)
                <p>Slide</p>
                @Html.EditorFor(model => model.Features.InfantJungleGym)
                <p>Infant jungle gym</p>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Features.JungleGym)
                <p>Jungle gym</p>
                @Html.EditorFor(model => model.Features.SeeSaw)
                <p>Seesaw</p>
                @Html.EditorFor(model => model.Features.RockingHorse)
                <p>Spring rider</p>
                @Html.EditorFor(model => model.Features.BalancingEquipment)
                <p>Balancing eqipment</p>
                @Html.EditorFor(model => model.Features.Goal)
                <p>Goal</p>
                @Html.EditorFor(model => model.Features.Basket)
                <p>Basket</p>
                @Html.EditorFor(model => model.Features.PlayHouse)
                <p>Playhouse</p>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

