﻿@model Rolo.Models.Playground

@{
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Playground</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
