﻿@model Rolo.Models.Playground

@{
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Playground</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>