﻿@model List<Rolo.ViewModels.PostViewModel>

<section>
    <div class="search-form">
        <form id="user-post-form" method="post">
            <div class="input-form-div">
                <input class="search" type="text" placeholder="What's on your mind today?" id="new-user-post" name="new-user-post" autocomplete="off" maxlength="100" />
            </div>            
        </form>
        <button id="user-post-btn"></button>
    </div>
</section>

<section>
    <h1 class="today">Today</h1>
    <div id="post-feed">
        @{
             if (Model.Count == 0)
             {   <div class="Friend jumbotron">
                     <p>No posts found!</p>
                </div>
             }
             foreach (var post in Model)
             {
                <div class="jumbotron post">
                    <div class="wrap1">
                        <div class="userinfo">
                            <img src="@Url.Content("~" + post.Author.ProfilePic.Path)" alt="profile-pic" class="profilePic img-responsive" />
                            <p class="author">@post.Author.Name</p>
                            <p class="date-to-timeago" title="@post.DateCreated">@post.DateCreated</p>
                        </div>
                    </div>
                    <div class="wrap2">
                        <div class="playground-name">
                            <div class="rolo-text">
                                @{
                                     if (post.PlaygroundId != 0)
                                     {   <a href="/Home/PlaygroundInfo/@post.PlaygroundId">
                                                <p class="playground-name">@post.PlaygroundName</p>
                                         </a>
                                     }
                                }
                                <p>@post.Text</p>
                            </div>
                            <div class="rolo-btn">
                                <button id="@post.Id" class="comment-btn">Comment</button>
                            </div>
                        </div>
                    </div>
                    <div id="@("div" + post.Id)" class="hidden-comment-form" style="display: none;">
                        <form id="@("form" + post.Id)" class="comment-form">
                            <input type="hidden" name="post-id" value="@post.Id" />
                            <input type="text" placeholder="Comment.." name="comment-input" maxlength="100" autocomplete="off" />
                            <button id="@("btn" + post.Id)" class="post-comment"></button>
                        </form>
                    </div>

                </div>

                foreach (var comment in post.Comments)
                {
                    <div class="comment-box">
                        <div class="jumbotron comment">
                            <div class="wrap1">
                                <div class="userinfo">
                                    <img src="@Url.Content("~" + comment.Author.ProfilePic.Path)" alt="profile-pic" class="img-responsive" />
                                    <p class="author">@comment.Author.Name</p>
                                    <p class="date-to-timeago" title="@comment.DateCreated">@comment.DateCreated</p>
                                </div>
                            </div>
                            <div class="wrap2">
                                <div class="comment-text">
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
}    
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/AddUserPost")
}