﻿@model Rolo.ViewModels.FriendsPageViewModel

@{
    Html.RenderPartial("SearchView");
}

@if (Model.Requests.Count > 0)
{
    <h2>Requests</h2>
}

<h2>FriendSearchResult</h2>

<h2>Friends</h2>

@foreach (var item in Model.Friends)
{
    <a href="UserPage/?username=@item.Username">
        <div class="Friend jumbotron">
            <span class="FriendPic">
                <img src="@item.ProfilePic.Path" alt="Photo of a user" width="200" class="img-responsive" />
            </span>
            <span class="FriendName">
                @item.Name
            </span>
            <span class="ActivePlayGroundName">
                @item.ActivePlaygroundName
            </span>
        </div>
    </a>
}



@section scripts {
    @Scripts.Render("~/bundles/SearchUsers")
}