@model Rolo.ViewModels.FriendsPageViewModel

@{
    Html.RenderPartial("SearchView");
}

<section>
    <div id="request-list">
        @if (Model.Requests.Count > 0)
        {
           <h2 class="my-playgrounds">Requests</h2>;
        }
        @foreach (var item in Model.Requests)
        {
            <a href="UserPage/?username=@item.Username">
                <div class="Friend jumbotron">
                    <div class="friend-pic">
                        <span class="FriendPic">
                            <img src="@item.ProfilePic.Path" alt="Photo of a user" width="200" class="img-responsive" />
                        </span>
                    </div>
                    <div class="friend-info">
                        <span class="FriendName">
                            @item.Name
                        </span>
                        <span>
                        </span>
                    </div>
               </div>
            </a>
            <div class="request-buttons">
                <button id="accept-@item.Id" class="accept-btn">Accept</button>
                <button id="remove-@item.Id" class="remove-btn">Decline</button>
            </div>
        }
    </div>
    <div id="friend-list">
        @if (Model.Friends.Count == 0)
        {   <div class="Friend jumbotron no-friends">
                 <p>No friends found!</p>
            </div>
        }
        @if (Model.Friends.Count > 0)
        {
            <h2 class="my-playgrounds">Friends</h2>;
        }      
        @foreach (var item in Model.Friends)
        {
            <a href="UserPage/?username=@item.Username">
                <div class="Friend jumbotron">
                    <div class="friend-pic" >
                        <span class="FriendPic">
                            <img src="@Url.Content("~" + item.ProfilePic.Path)" alt="Photo of a user" width="200" class="img-responsive" />
                        </span>
                    </div>
                    <div class="friend-info" >
                        <span class="FriendName">
                            @item.Name
                        </span>
                        <span class="ActivePlayGroundName">
                            @item.ActivePlaygroundName
                        </span>
                    </div>
               </div>
            </a>
        }
    </div>
    <div id="other-list">
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/SearchUsers")
    @Scripts.Render("~/bundles/friendSprite")
}