﻿@model Rolo.ViewModels.PlaygroundViewModel
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<form>
    <input type="hidden" id="playground-location-lat" value="@Model.Latitude" />
    <input type="hidden" id="playground-location-lon" value="@Model.Longitude" />
</form>
<section>
    <div class="guest-play">
        <div class="guest-playground-info">
            <h1 class="guest-playground-name">@Model.Name</h1>
            <h3 id="average-rating">Rating @Model.Rating/5</h3>
        </div>
       
        <div class="playground-map-btn">
            <button id="map-btn"></button>
        </div>
       
        <form id="playground-form" method="post">
            <input type="hidden" name="playground-id" value="@Model.Id" id="playground-id" />  
        </form>
    </div>

    <div class="playground-image img-responsive">
        <img src="@Url.Content("~" + Model.PlaygroundImage.Path)" alt="Playground - @Model.Name"/>
    </div>
</section>

<section id="playground-map">
    <div class="map-div img-responsive">
        <div id="map">

        </div>
    </div>
</section>

<section>
    <div class="my-playgrounds">
        <p>Features</p>
    </div>
</section>

<section id="playground-features">
    @{
        if (Model.Features.BalancingEquipment == true)
        {
            <div class="jumbotron" id="feature-balancing">
                <div class="balancing-div">
                    <button class="balancing" disabled></button>
                    <p>Balancing Equipment</p>
                </div>
            </div>
        }
        if (Model.Features.Basket == true)
        {
            <div class="jumbotron" id="feature-basket">
                <div class="basket-div">
                    <button class="basket" disabled></button>
                    <p>Basket</p>
                </div>
            </div>
        }
        if (Model.Features.Goal == true)
        {
            <div class="jumbotron" id="feature-goal">
                <div class="goal-div">
                    <button class="goal" disabled></button>
                    <p>Goal</p>
                </div>
            </div>
        }
        if (Model.Features.InfantJungleGym == true)
        {
            <div class="jumbotron" id="feature-inf-jungle">
                <div class="infjunglegym">
                    <button class="infant-jungle-gym" disabled></button>
                    <p>Infant Jungle Gym</p>
                </div>
            </div>
        }
        if (Model.Features.InfantSlide == true)
        {
            <div class="jumbotron" id="feature-inf-slide">
                <div class="inf-slide-div">
                    <button class="infslide" disabled></button>
                    <p>Infant Slide</p>
                </div>
            </div>
        }
        if (Model.Features.InfantSwings == true)
        {
            <div class="jumbotron" id="feature-inf-swings">
                <div class="inf-swings-div">
                    <button class="inf-swings" disabled></button>
                    <p>Infant Swings</p>
                </div>
            </div>
        }
        if (Model.Features.JungleGym == true)
        {
            <div class="jumbotron" id="feature-jungle">
                <div class="junglegym-div">
                    <button class="jungle-gym" disabled></button>
                    <p>Jungle Gym</p>
                </div>
            </div>
        }
        if (Model.Features.PlayHouse == true)
        {
            <div class="jumbotron" id="feature-play">
                <div class="play-div">
                    <button class="play-house" disabled></button>
                    <p>Play House</p>
                </div>
            </div>
        }
        if (Model.Features.RockingHorse == true)
        {
            <div class="jumbotron" id="feature-rocking">
                <div class="rocking-div">
                    <button class="horse" disabled></button>
                    <p>Rocking Horse</p>
                </div>
            </div>
        }
        if (Model.Features.Sandbox == true)
        {
            <div class="jumbotron" id="feature-sandbox">
                <div class="sandbox-div">
                    <button class="sandbox" disabled></button>
                    <p>Sandbox</p>
                </div>
            </div>
        }
        if (Model.Features.SeeSaw == true)
        {
            <div class="jumbotron" id="feature-seesaw">
                <div class="seesaw">
                    <button class="see-saw" disabled></button>
                    <p>SeeSaw</p>
                </div>
            </div>
        }
        if (Model.Features.Slide == true)
        {
            <div class="jumbotron" id="feature-slide">
                <div class="slide-div">
                    <button class="slide" disabled></button>
                    <p>Slide</p>
                </div>
            </div>
        }
        if (Model.Features.Swings == true)
        {
            <div class="jumbotron" id="feature-swings">
                <div class="swings-div">
                    <button class="swings" disabled></button>
                    <p>Swings</p>
                </div>
            </div>
        }
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/gmaps")
    @Scripts.Render("~/bundles/playgroundpage")
}