﻿@model IEnumerable<Rolo.ViewModels.GuestPlaygroundListModel>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

@{
    Html.RenderPartial("SearchView");
}

@{
    Html.RenderPartial("SignIn");
}

<div class="guest-map-btn">
    <button></button>
</div>

<div class="guest-playground-list">
    @{
        Html.RenderPartial("NearByPlaygrounds");
    }
</div>    


<div class="user-playground-map-div">
    <h2 class="my-playgrounds">Playgrounds</h2>
    <div class="interactive-map-div">
        <div id="interactive-map">

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/PlaygroundListScript")
    @Scripts.Render("~/bundles/SearchPlaygrounds")
    @Scripts.Render("~/bundles/gmaps")
}