﻿@model Rolo.ViewModels.MePageViewModel

<section>
    <div class="profilePic">
        <img src="@Url.Content("~" + Model.ProfilePic.Path)" alt="ProfilePic" class="img-responsive" />
    </div>
    <div class="change-profile-pic" >
        <p>Change profile picture: </p>
        @using (Html.BeginForm("UploadProfile", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" id="profile-pic-file" name="upload" />
            <input class="submit-form" type="submit" value="Upload" />
        }
    </div>
    <div class="me jumbotron">
        <p>Name:</p>
        <div class="name">
            <p>@Model.Name</p>
        </div>
        <p>Date of birth:</p>
        <div class="birthdate">
            <p>@Model.DateOfBirth.Day/@Model.DateOfBirth.Month/@Model.DateOfBirth.Year</p>
        </div>
    </div>
    <div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="logout">
                <button class="log-off-btn" onclick="javascript:document.getElementById('logoutForm').submit()">Sign out</button>
            </div>
        }
    </div>

</section>

@section scripts {
    @Scripts.Render("~/bundles/meSprites")
}

