﻿
<section>

    <div class="my-playgrounds nearby">
     
    </div>
    <div id="nearby-playgrounds">
        <div class="my-playgrounds">
            <h2>Nearby Playgrounds</h2>
        </div>
    </div>
</section>
