﻿@model Rolo.ViewModels.PlaygroundViewModel
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<form>
    <input type="hidden" id="playground-location-lat" value="@Model.Latitude" />
    <input type="hidden" id="playground-location-lon" value="@Model.Longitude" />
</form>
<section>
    <div class="playground-header">
        <div class="playground-info-header">
            <h1 class="my-playgrounds">@Model.Name</h1>

            @if (Model.CurrentUserIsFollowing)
            {
                <button id="follow-btn">Unfollow</button>
            }
            else
            {
                <button id="follow-btn">Follow</button>
            }

            <h3 id="average-rating">Rating @Model.Rating/5</h3>
            
            @using (Html.BeginForm("RatePlayground", "Home", FormMethod.Post, new { id = "rate-form" }))
            {
                <input type="hidden" name="playground-id" value="@Model.Id" />
                <div class="form-horizontal">
                    <label class="sr-only" for="rateinfo">Rate</label>
                    <div class="stars">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (@Model.CurrentUserRating != null && Model.CurrentUserRating.Rating == i)
                            {
                                <input class="rateinfo stars star-@i" type="radio" name="rateinfo" value="@i" id="star-@i" checked>
                                <label class="star-@i" for="star-@i">@i</label>
                            }
                            else
                            {
                                <input class="rateinfo stars star-@i" type="radio" name="rateinfo" value="@i" id="star-@i">
                                <label class="star-@i" for="star-@i">@i</label>
                            }

                        }
                        <span></span>
                    </div>
                </div>
                @Html.ValidationSummary(false)
            }
        </div>
        <div class="playground-buttons">
            <button id="map-btn"></button>
            @if (Model.CurrentUserIsCheckedIn)
            {
                <button id="check-in-btn" class="checked-in"></button>
            }
            else
            {
                <button id="check-in-btn"></button>
            }
        </div>

        <form id="playground-form" method="post">
            <input type="hidden" name="playground-id" value="@Model.Id" id="playground-id" />
        </form>
    </div>
</section>
<section>
    <div class="playground-image-logged-in playground-image img-responsive">
        <img src="@Url.Content("~" + Model.PlaygroundImage.Path)" alt="Playground - @Model.Name" />    
    </div>
    <div class="map-div">
        <div id="map"></div>
    </div>
</section>

<section>
    <div>
        <button id="playground-feed-btn"></button>
        <button id="playground-feature-btn"></button>
    </div>
</section>

<section id="playground-features-section">
    @{
        if (Model.Features.BalancingEquipment == true)
        {
            <div class="jumbotron" id="feature-balancing">
                <div class="balancing-div">
                    <button class="balancing" disabled></button>
                    <p>Balancing Equipment</p>
                </div>
            </div>
        }
        if (Model.Features.Basket == true)
        {
            <div class="jumbotron" id="feature-basket">
                <div class="basket-div">
                    <button class="basket" disabled></button>
                    <p>Basket</p>
                </div>
            </div>
        }
        if (Model.Features.Goal == true)
        {
            <div class="jumbotron" id="feature-goal">
                <div class="goal-div">
                    <button class="goal" disabled></button>
                    <p>Goal</p>
                </div>
            </div>
        }
        if (Model.Features.InfantJungleGym == true)
        {
            <div class="jumbotron" id="feature-inf-jungle">
                <div class="infjunglegym">
                    <button class="infant-jungle-gym" disabled></button>
                    <p>Infant Jungle Gym</p>
                </div>
            </div>
        }
        if (Model.Features.InfantSlide == true)
        {
            <div class="jumbotron" id="feature-inf-slide">
                <div class="inf-slide-div">
                    <button class="infslide" disabled></button>
                    <p>Infant Slide</p>
                </div>
            </div>
        }
        if (Model.Features.InfantSwings == true)
        {
            <div class="jumbotron" id="feature-inf-swings">
                <div class="inf-swings-div">
                    <button class="inf-swings" disabled></button>
                    <p>Infant Swings</p>
                </div>
            </div>
        }
        if (Model.Features.JungleGym == true)
        {
            <div class="jumbotron" id="feature-jungle">
                <div class="junglegym-div">
                    <button class="jungle-gym" disabled></button>
                    <p>Jungle Gym</p>
                </div>
            </div>
        }
        if (Model.Features.PlayHouse == true)
        {
            <div class="jumbotron" id="feature-play">
                <div class="play-div">
                    <button class="play-house" disabled></button>
                    <p>Play House</p>
                </div>
            </div>
        }
        if (Model.Features.RockingHorse == true)
        {
            <div class="jumbotron" id="feature-rocking">
                <div class="rocking-div">
                    <button class="horse" disabled></button>
                    <p>Rocking Horse</p>
                </div>
            </div>
        }
        if (Model.Features.Sandbox == true)
        {
            <div class="jumbotron" id="feature-sandbox">
                <div class="sandbox-div">
                    <button class="sandbox" disabled></button>
                    <p>Sandbox</p>
                </div>
            </div>
        }
        if (Model.Features.SeeSaw == true)
        {
            <div class="jumbotron" id="feature-seesaw">
                <div class="seesaw">
                    <button class="see-saw" disabled></button>
                    <p>SeeSaw</p>
                </div>
            </div>
        }
        if (Model.Features.Slide == true)
        {
            <div class="jumbotron" id="feature-slide">
                <div class="slide-div">
                    <button class="slide" disabled></button>
                    <p>Slide</p>
                </div>
            </div>
        }
        if (Model.Features.Swings == true)
        {
            <div class="jumbotron" id="feature-swings">
                <div class="swings-div">
                    <button class="swings" disabled></button>
                    <p>Swings</p>
                </div>
            </div>
        }
    }
</section>

<section id="playground-feed-section">
    <div class="playground-post-form">
        <form id="playground-post-form" method="post">
            <input class="search" type="text" placeholder="What's on your mind today?" id="new-playground-post" name="new-playground-post" maxlength="100" />
            <input type="hidden" value="@Model.Id" id="playground-id" name="playground-id" />
        </form>
        <button id="playground-post-btn">
            
        </button>
    </div>
    <div id="playground-feed">
        @{
            foreach (var p in Model.Posts)
            {
                <div class="jumbotron playground-feed">
                    <div class="wrap1">
                        <div class="userinfo">
                            <img src="@Url.Content("~" + p.Author.ProfilePic.Path)" alt="profile-pic" class="profilePic" />
                            <p class="author">@p.Author.Name</p>
                            <p class="date-to-timeago" title="@p.DateCreated">@p.DateCreated</p>
                        </div>
                    </div>
                    <div class="wrap2">
                        <div class="comment-text">
                                <p>@p.Text</p>
                                <button id="@p.Id" class="comment-btn">Comment</button>
                        </div>
                    </div>
                    <div id="@("div" + p.Id)" class="hidden-comment-form" style="display: none;">
                        <form id="@("form" + p.Id)" class="comment-form">
                            <input type="hidden" name="post-id" value="@p.Id" />
                            <input type="hidden" value="@Model.Id" id="playgr-id" name="playgr-id" />
                            <input class="text-comment" type="text" placeholder="Comment.." name="comment-input" maxlength="100" autocomplete="off"/>
                        </form>
                        <button id="@("btn" + p.Id)" class="post-comment"></button>
                    </div>
                </div>

                foreach (var comment in p.Comments)
                {
                    <div class="comment-box">
                        <div class="jumbotron comment">
                            <div class="wrap1">
                                <div class="userinfo">
                                    <img src="@Url.Content("~" + comment.Author.ProfilePic.Path)" alt="profile-pic" />
                                    <p class="author">@comment.Author.Name</p>
                                    <p class="date-to-timeago" title="@comment.DateCreated">@comment.DateCreated</p>
                                </div>
                            </div>
                            <div class="wrap2">
                                <div class="comment-text">
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/addPlaygroundPost")
    @Scripts.Render("~/bundles/gmaps")
    @Scripts.Render("~/bundles/playgroundpage")
}