﻿@model IEnumerable<Rolo.ViewModels.UserPlaygroundListModel>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

@{
    Html.RenderPartial("SearchView");
}

<div id="user-playground-map-btn">
    <button></button>
</div>

<section id="user-playground-list">   
    <div id="my-playgrounds">
        @if (Model.Count() != 0)
        {
            <h2 class="my-playgrounds">My Playgrounds</h2>
        }

        @foreach (var playground in Model)
        {
            <a href="/Home/PlaygroundInfo/@playground.Id">
                <div class="jumbotron">
                    <div class="playground-status">
                        @if (playground.CurrentUserIsCheckedIn)
                        {
                            <img src="@Url.Content("/Data/Location_White.png")" />
                        }
                        else if (playground.ActiveFriends)
                        {
                            <img src="@Url.Content("/Data/LocationRingGreen.png")" />
                        }
                        else if (!playground.Empty)
                        {
                            <img src="@Url.Content("/Data/LocationRingOrange.png")" />
                        }
                        else
                        {
                            <img src="@Url.Content("/Data/LocationRingRed.png")" />
                        }
                        <p class="user-playground-name">
                            @playground.Name
                        </p>
                   </div>
                </div>   
            </a>
        }

    </div>

    @{
        Html.RenderPartial("NearByPlaygrounds");
    }
</section>

<div class="user-playground-map-div">
    <h2 class="my-playgrounds">Playgrounds</h2>
    <div class="interactive-map-div">
        <div id="interactive-map">

        </div>
    </div>
</div>


    
@section scripts {
    @Scripts.Render("~/bundles/UserMyPlaygroundListScript")
    @Scripts.Render("~/bundles/gmaps")
    @Scripts.Render("~/bundles/UserSearchPlayground")
}