﻿<section>
    <div class="search-form">
        <form method="get" action="#">
            <input type="text" class="search" name="search" id="search" placeholder="Find.." autocomplete="off" />
        </form>
    </div>
</section>
