﻿
<section>
        <img class="logo-display" src="@Url.Content("~/Data/logo.png")" width="75%" />
            <div class="log-in-btn">
                @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
</section>
