﻿@model Rolo.ViewModels.UserPageViewModel
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/userpage.js"></script>
<section>
    <div class="profilePic">
        <img src="@Url.Content("~" + Model.User.ProfilePic.Path)" alt="Profile Picture" class="img-responsive" />
    </div>
   
    @if (Model.didSendFriendRequest)
    {
        <button id="cancel-friend-btn">Cancel Friend Request</button>    
    }
    else if (Model.areFriends)
    {
        <div class="remove">
            <div class="remove-center">
                <button id="remove-friend-btn">Remove Friend</button>
            </div>
        </div>
    }
    else if (Model.hasPendingRequestFromUser)
    {
        <form action="/Home/Friend" id="pending-button">
            <input type="submit" value="Pending Request"> 
        </form>
    }
    else
    {
        <div class="add-center">
            <button id="add-friend-btn">Add Friend</button>
        </div>
    }

    <form method="post" id="user-form">
        <input type="hidden" value="@Model.User.Id" name="user-id" id="user-id" />
    </form>

    <div class="user-info jumbotron">
        <p>Name:</p>
        <div class="name">
            <p>@Model.User.Name</p>
        </div>
        <p>Date of birth:</p>
        <div class="birthdate">
            <p>@Model.User.DateOfBirth.Day/@Model.User.DateOfBirth.Month/@Model.User.DateOfBirth.Year</p>
        </div>
    </div>

    @if(Model.areFriends)
    { 
        <h2 class="my-playgrounds">Playgrounds</h2>
   
        foreach (var playground in Model.PlaygroundList)
        {
            <a href="/Home/PlaygroundInfo/@playground.Id">
                <div class="jumbotron UserPlaygroundListItem">
                    <p class="UserPlaygroundListName">
                        @playground.Name
                    </p>
                </div>
            </a>
        }
    }
</section>

