﻿@model Rolo.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<div>
    <div class="col-md-8 login-form">
        <section id="loginForm" class="jumbotron">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="login">
                    @Html.LabelFor(m => m.UserName, new { @class = "label" })
                    <div class="text-input">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="login">
                    @Html.LabelFor(m => m.Password, new { @class = "label" })
                    <div class="text-input">
                        @Html.PasswordFor(m => m.Password, new { @class = "input" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div>
                    <div>
                        <div class="check">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                    <div class="register">
                        @Html.ActionLink("Register", "Register")
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}