﻿@model Rolo.Models.RegisterViewModel

@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account</h4>
    <hr />
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.UserName)
        <div>
            @Html.TextBoxFor(m => m.UserName, new { @class = "register-input-box", @autocomplete = "off" })
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "register-input-box", @autocomplete = "off" })
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "register-input-box", @autocomplete = "off" })
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Name)
        <div>
            @Html.TextBoxFor(m => m.Name, new { @class = "register-input-box", @autocomplete = "off" })
        </div>
    </div>
     <div>
        @Html.LabelFor(m => m.Email)
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "register-input-box", @autocomplete = "off" })
        </div>
    </div>
    <div>
        <label for="DateOfBirth">Date of birth</label>
        <div>
            <input type="text" id="DateOfBirth" data-format="DD-MM-YYYY" data-template="DD MM YYYY" name="DateOfBirth" value="01-01-1990" class="register-input-box date-box">
            <script>
                $(function () {
                    $('#DateOfBirth').combodate();
                });
            </script>
        </div>
    </div>
    <div>
        <input class="register-btn" type="submit" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/combodate")
}
