﻿@font-face 
{
    font-family: myFont;
    src: url('../Data/Inconsolata.otf');
}  

body 
{
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(171,190,166);
    font-family: myFont;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error 
{
    color: #b94a48;
    font-size: 15px;
    display: block;
}

.field-validation-valid 
{
    display: none;
}

input.input-validation-error 
{
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error 
{
    border: 0 none;
}

.validation-summary-errors 
{
    color: #b94a48;
}

.validation-summary-valid 
{
    display: none;
}

/* Custom CSS rules */

.playground-header
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 25px;
    text-align: left;
    margin-bottom: 14px;
}

.playground-info-header
{
    display: inline-block;
    text-align: left;
}

.playground-buttons
{
    position: relative;
    display: inline-block;
    float: right;
    width: 30%;
    margin-top: 50px;
}

.playground-info-header h1
{
    margin: 0;
    margin-bottom: 5px;
}

#user-playground-map-btn
{
    height: 65px;
    width: 75%;
    position: relative;
    margin: auto;
    zoom: 70%;
    margin-bottom: -60px;
}

.user-playground-map-div
{
    margin-top: 25px;
}

#user-playground-map-btn button
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 64.99px;
    width: 65px;  
    margin-right: 5px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    position: absolute;
    right: 0px;
    padding-bottom: 20px;
}

#map, #interactive-map 
{
    width: 100%;
    height: 100%;
}

.map-div
{
    width: 75%;
    height: 341px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 10px solid #E4DDCA;
}

.interactive-map-div
{
    width: 75%;
    height: 341px;
    margin: auto;
    border-radius: 6px;
    border: 10px solid #E4DDCA;
}

@media screen and (max-width : 770px) 
{
    body 
    {
        margin-top: 92px;
    }
}

@media screen and (min-width : 770px) and (max-width : 990px) 
{
    body 
    {
        margin-top: 101px;
    }
}

@media screen and (min-width : 990px) 
{
    body 
    {
        margin-top: 126px;
    }
}

.navbar
{
    background-color: rgb(171,190,166);
    border-bottom: none;
}

.nearby
{
    margin-top: 25px;
}

.jumbotron
{
    padding: 10px !important;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #E4DDCA; 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.jumbotron p
{
    color: rgb(51,51,51);
    font-size: 16px;
    font-weight: bold; 
}

a:link
{
    text-decoration: none;
    color: rgb(51,51,51);
}

#loginLink
{
    text-decoration: none;
    color: rgb(51,51,51);
    font-size: 20px;
}

div a
{
    text-decoration: none;
    color: rgb(51,51,51);
}

a:hover
{
    text-decoration: none;
    color: rgb(51,51,51);
}

hr
{
    display: none;
}

.my-playgrounds
{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
    width: 75%;
    font-size: 18px;
    font-weight: bold;
}

.playground-image
{
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3
{
    font-size: 14px;
    font-weight: bold;
    font-family: myFont;
}

.playground-image img
{
    width: 100%;
    height: 100%;
    border: 10px solid #E4DDCA;
    border-radius: 6px;
}

h1
{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: myFont;
}

.today
{
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.search
{
    width: 100%;
    border-radius: 6px;
    background-color: #E4DDCA; 
    max-width: none;
    border: none;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
}

.search-form
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}

.playground-post-form
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;  
    position: relative;    
}

::-webkit-input-placeholder 
{
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-top: 0px;
    font-size: 12px;
    opacity: 0.6;
}
:-moz-placeholder 
{ 
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-top: 0px;
    font-size: 12px;
    opacity: 0.6;
}
::-moz-placeholder 
{
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-top: 0px;
    font-size: 12px;
    opacity: 0.6;
} 
:-ms-input-placeholder 
{ 
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-top: 0px;
    font-size: 12px;
    opacity: 0.6;
}

#searchBtn
{
    line-height: 10px;
    background-image: url("http://cliparts.co/cliparts/rTL/n8R/rTLn8RLBc.png");
    border-radius: 6px;
}

#playgrounds
{
    background-image: url("http://andri.pedro.is/images/TopMenuSprites.png");
    background-position: 0px -100px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
    margin-right: 20px;
}

#playgrounds-link
{
    display: block;
    padding-bottom: 85px;
}

#map-head
{
    background-image: url("http://andri.pedro.is/images/TopMenuSprites.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px; 
    margin-right: 20px; 
}

#map-link
{
    display: block;
    padding-bottom: 85px;
}

#feed
{
    background-image: url("http://andri.pedro.is/images/TopMenuSprites.png");
    background-position: 0px -200px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
    margin-right: 20px;
}

#feed-link
{
    display: block;
    padding-bottom: 85px;
    position: relative;
}

#friends
{
    background-image: url("http://andri.pedro.is/images/TopMenuSprites.png");
    background-position: 0px -300px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
    margin-right: 20px;
}

#friends-link
{
    display: block;
    padding-bottom: 85px;
    position: relative;
}

#feed-notification-number-l
{
    display: none;
    color: white;
    position: absolute;
    bottom: -21px;
    right: 5px;
}

#feed-notification-number-m
{
    display: none;
    color: white;
    position: absolute;
    bottom: -8px;
    right: 4px;
    font-size: 11px;
}

#feed-notification-number-s
{
    display: none;
    color: white;
    position: absolute;
    bottom: -4px;
    right: 4px;
    font-size: 9px;
}

#friend-notification-number-l
{
    display: none;
    color: white;
    position: absolute;
    bottom: -21px;
    right: 10px;
}

#friend-notification-number-m
{
    display: none;
    color: white;
    position: absolute;
    bottom: -8px;
    right: 6px;
    font-size: 11px;
}

#friend-notification-number-s
{
    display: none;
    color: white;
    position: absolute;
    bottom: -8px;
    right: 5px;
    font-size: 9px;
}

#me
{
    background-image: url("http://andri.pedro.is/images/TopMenuSprites.png");
    background-position: 0px -400px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
}

#me-link
{
    display: block;
    padding-bottom: 85px;
}

#playgrounds-mobile
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobile.png");
    background-position: 0px -75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;  
    margin-right: 5px;
}

#playgrounds-link-mobile
{
    display: block;
    padding-bottom: 75px;
}

#map-head-mobile
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobile.png");
    background-position: 0px -75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px; 
    margin-right: 5px; 
}

#map-link-mobile
{
    display: block;
    padding-bottom: 75px;
}

#feed-mobile
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobile.png");
    background-position: 0px -150px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;  
    margin-right: 5px;
}

#feed-link-mobile
{
    display: block;
    padding-bottom: 75px;
    position: relative;
}

#friends-mobile
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobile.png");
    background-position: 0px -225px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;  
    margin-right: 5px;
}

#friends-link-mobile
{
    display: block;
    padding-bottom: 75px;
    position: relative;
}

#me-mobile
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobile.png");
    background-position: 0px -300px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;  
}

#me-link-mobile
{
    display: block;
    padding-bottom: 75px;
}

#playgrounds-mobile-small
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px -65px;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;  
    margin-right: 5px;
}

#playgrounds-link-mobile-small
{
    display: block;
    padding-bottom: 70px;
}

#map-head-mobile-small
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px -75px;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px; 
    margin-right: 5px; 
}

#map-link-mobile-small
{
    display: block;
    padding-bottom: 70px;
}

#feed-mobile-small
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px -130px;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;  
    margin-right: 5px;
}

#feed-link-mobile-small
{
    display: block;
    padding-bottom: 70px;
    position: relative;
}

#friends-mobile-small
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px -195px;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;  
    margin-right: 5px;
    position: relative;
}

#friends-link-mobile-small
{
    display: block;
    padding-bottom: 70px;
}

#me-mobile-small
{
    background-image: url("http://andri.pedro.is/images/TopMenuSpritesMobileSmall.png");
    background-position: 0px -260px;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;  
}

#me-link-mobile-small
{
    display: block;
    padding-bottom: 70px;
}

body .input-box
{
    display: block;
}

.top-bar
{
    max-width: 520px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

.wrapper
{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(171,190,166);
    z-index: 5;
    min-width: 300px;
}

.main-content 
{
    max-width: 700px;
    margin: auto;
}

.profilePic img
{
    border-radius: 50%;
    border: 10px solid #E4DDCA;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

.FriendPic img
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline;
}

.FriendName
{
    color: rgb(51,51,51);
    font-size: 21px;
}

.userinfo img 
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
}

.userinfo p
{
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.userinfo 
{
    font-size: 14px;
    font-weight: bold;
}

.author
{
    font-size: 14px !important;
    font-weight: bold;
}

.userinfo
{
    display: inline-block;
    width: 30%;
}

.top-bar li
{
    height: 100px;
    width: 100px;
    display: inline-block;
}

.top-bar ul
{
    list-style-type: none;
    padding: 0px;
}

.login-form
{
    width: 100%; 
}

.login-box p
{
    font-size: 30px;
}

#loginForm
{
    padding: 0;
    padding-top: 10px;
    line-height: 30px;
}

.label
{
    text-align: left;
    color: rgb(51,51,51);
    font-size: 15px;
    margin-left: 2vw;
}

.input 
{
    width: 85%;
    border-radius: 6px;
    border: none;
    max-width: none;
    font-size: 15px;
    height: 22px;
    padding-left: 6px;
}

.login
{
    text-align: left;
  
}

.text-input
{   
    text-align: center;
}

.text-input input
{
    height: 30px;
}

.check
{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    margin-left: 2.8vw;
}

.validation-summary-errors li
{
    list-style-type: none;
    font-size: 15px;
}

.validation-summary-errors ul
{
    margin: 0;
    padding: 0;
}

.register
{
    font-size: 15px;
}

h2
{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: myFont;
}

.post
{
    text-align: left;
    max-height: 220px;
    overflow: hidden;
}

.playground-name
{
    display: inline-block;
    width: 100%;
    font-size: 17px !important;
    font-weight: bold;
    position: relative;
}

.playground-name p
{
    text-align: left;
    font-size: 14px;
}

.playground-name .playground-name
{
    text-decoration: underline;
}

.wrap1
{
   display: inline;   
}

.wrap2
{
    display: inline;
    float: right;
    width: 70%;
}

.comment-text p
{
    font-size: 14px;
}

.comment-text
{
    text-align: left;
    float: right;
    width: 95%;
}

.comment
{
     width: 67%;
     max-height: 220px;
     overflow: hidden;
}

.comment-box
{
    width: 75%; 
    margin-left: auto; 
}

.me
{
    text-align: left;
}

.name p
{
    font-weight: normal;
}

.birthdate p
{
    font-weight: normal;
}

.guest-map-btn 
{
    position: relative;
    height: 30px;
    width: 75%;
    margin: auto;
    display: block;
    margin-bottom: -20px;
    margin-top: 30px;
}

.guest-map-btn button
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 52px;
    background-position: 0px -100px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0px;
}

#user-post-btn
{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    background-position: -25px -1125px;
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 3px;
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
}

.input-form-div
{
    position: relative;
}

#playground-post-btn
{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    background-position: -25px -1125px;
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 5px;
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
}

#map-btn
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 52px;
    background-position: 0px -100px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}

.guest-play
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.guest-playground-name
{
    font-size: 20px;
    display: inline;
    margin-right: -35px;
}

.guest-playground-info
{
    width: 30%;
    display: inline-block;
    text-align: left;
}

.guest-playground-range
{
    display: inline;
    float: right;
    width: 64px;
    padding-top: 15px;
}

.playground-map-btn
{
    position: relative;
    width: 25%;
    display: inline-block;
    float: right;
}

#check-in-btn
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: 0px 0px;
    border-radius: 50%;
    border: none;
    float: right;
    margin-right: 60px;
}

#playground-feed-btn
{
    background-image: url('../Data/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 52px;
    background-position: 0px -300px;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

#playground-feature-btn
{
    background-image: url('../Data/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 52px;
    background-position: 0px -400px;
    background-color: transparent;
    border: none;
}

.comment-btn
{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #1C1C1B;
    border-radius: 6px;
    margin-bottom: 5px;
    float: right;
    width: 75px;
    font-size: 12px;
}

.post-comment
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    background-position: -25px -1125px;
    border: none;
    background-color: #E4DDCA;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 6px;
    margin-right: 1px;
    border-radius: 6px;
}

.text-comment 
{
    width: 80%;
    height: 33px;
    font-size: 10px;
    margin-right: 2px;
    background-color: rgb(171,190,166);
    border: none;
    border-radius: 6px;
    padding-left: 4px;
}

.input-group
{
    width: 100%;
}

.swings
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -500px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-swings p
{
    display: inline;
}

.swings-div
{
    width: 86%;
}

.goal
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -950px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-goal p
{
    display: inline;
}

.goal-div
{
    width: 86%;
}

.jungle-gym
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -750px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-jungle p
{
    display: inline;
}

.junglegym-div
{
    width: 86%;
}

.horse
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -850px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-rocking p
{
    display: inline;
}

.rocking-div
{
    width: 86%;
}

.infant-jungle-gym
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -800px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-inf-jungle p
{
    display: inline;
}

.infjunglegym
{
    width: 86%;
}

.see-saw
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -450px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-seesaw p
{
    display: inline;
}

.seesaw
{
    width: 86%;
}

.slide
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -600px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-slide p
{
    display: inline;
}

.slide-div
{
    width: 86%;
}

.balancing
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -900px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-balancing p
{
    display: inline;
}

.balancing-div
{
    width: 86%;
}

.basket
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -1000px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-basket p
{
    display: inline;
}

.basket-div
{
    width: 86%;
}

.infslide
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -650px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-inf-slide p
{
    display: inline;
}

.inf-slide-div
{
    width: 86%;
}

.inf-swings
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -550px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-inf-swings p
{
    display: inline;
}

.inf-swings-div
{
    width: 86%;
}

.play-house
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -1050px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-play p
{
    display: inline;
}

.play-div
{
    width: 86%;
}

.sandbox
{
    background-image: url('http://andri.pedro.is/images/IconsSmallSprites.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: -1px -700px;
    border-radius: 50%;
    border: none;
    float: left;
}

#feature-sandbox p
{
    display: inline;
}

.sandbox-div
{
    width: 86%;
}

.user-info
{
    text-align: left;
    margin-bottom: 20px;
}

.remove-btn
{
    margin-bottom: 10px;
}

#follow-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
}

.follow-label
{
   display: inline;
   text-align: right;
   float: right;
   margin-top: 10px;
}

#remove-friend-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

.remove
{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.remove-center
{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 240px;
}

.add-center
{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 240px;
}

.log-off-btn
{
    background-color: #E4DDCA;
    border: none;
    font-weight: bold;
    color: #1C1C1B;
    font-size: 18px;
    border-radius: 6px;
    padding: 15px 40px;
}

.submit-form
{
    background-color: #E4DDCA;
    border-radius: 6px;
    border: none;
    margin-top: 15%;
    margin: auto;
    padding: 5px 20px;
}

.form-group
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 30px;
}

#profile-pic-file
{
    width: 90%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.logout
{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 40px;
}

.hidden-comment-form 
{
    position: relative;
}

#average-rating
{
    margin: 0;
    margin-top: 15px;
    width: 90px;
}

.stars
{
    margin-left: -4px !important;
}

form .stars 
{
  background: url("/Data/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
  zoom: 80%;
  margin-left: 0;
}

form .stars input[type="radio"] 
{
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

form .stars input[type="radio"].star-5:checked ~ span 
{
  width: 100%;
}

form .stars input[type="radio"].star-4:checked ~ span 
{
  width: 80%;
}

form .stars input[type="radio"].star-3:checked ~ span 
{
  width: 60%;
}

form .stars input[type="radio"].star-2:checked ~ span 
{
  width: 40%;
}

form .stars input[type="radio"].star-1:checked ~ span 
{
  width: 20%;
}

form .stars label 
{
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}

form .stars label:hover ~ span 
{
  background-position: 0 -30px;
}

form .stars label.star-5:hover ~ span 
{
  width: 100% !important;
}

form .stars label.star-4:hover ~ span 
{
  width: 80% !important;
}

form .stars label.star-3:hover ~ span 
{
  width: 60% !important;
}

form .stars label.star-2:hover ~ span 
{
  width: 40% !important;
}

form .stars label.star-1:hover ~ span 
{
  width: 20% !important;
}

form .stars span 
{
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("/Data/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.2s;
  -moz-transition: -moz-width 0.2s;
  -ms-transition: -ms-width 0.2s;
  -o-transition: -o-width 0.2s;
  transition: width 0.2s;
}

.change-profile-pic
{
    margin: auto;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 6px;
    height: 150px;
    width: 75%;
    padding: 10px;
    overflow: hidden;
}

.change-profile-pic p
{
    font-weight: bold;
    font-size: 16px;
}

.hidden-comment-form form input[type="text"]
{
    background-color: #E4DDCA;
    border-radius: 6px;
    border-style: solid;
    border-color: #1C1C1B;
    border-width: 1px;
    width: 100%;
    max-width: none;
    height: 32px;
    padding-left: 5px;
    font-size: 14px;
}

#friend-list
{
    text-align: left;
}

.no-friends
{
    text-align: center;
}

#other-list
{
    text-align: left;
}

#request-list
{
    text-align: left;

}
.friend-info
{
    display: inline-block;
}

.friend-info .FriendName
{
    display: block;
}

.friend-pic
{
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width : 346px) 
{
    .FriendName, .ActivePlayGroundName
    {
        font-size: 11px;
    }
}

@media screen and (min-width : 346px) and (max-width : 420px) 
{
    .FriendName, .ActivePlayGroundName
    {
        font-size: 14px;
    }
}

.log-in-btn 
{
    background-color: #E4DDCA;
    border: none;
    font-weight: bold;
    color: #1C1C1B;
    font-size: 18px;
    border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    padding: 15px 40px;
    width: 40%;
}

button:focus {outline:0;}

::-webkit-scrollbar {
    display: none;
}

.accept-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-right: 1px;
}

.remove-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
}

.request-buttons
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#pending-button input
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

#add-friend-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

#cancel-friend-btn
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

.register-input-box
{
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 40%;
    padding-left: 5px;
    padding-top: 5px;
}

h4
{
    margin-bottom: 20px;
    font-family: myFont;
}

.register-btn
{
    margin-top: 25px;
    background-color: #E4DDCA;
    border: none;
    border-radius: 6px;
    padding: 15px 40px;
}

@media screen and (max-width : 530px) 
{
    .register-input-box
    {
        width: 75%;
    }

    .play-status p, .user-playground-name, .guest-nearby-play p
    {
        font-size: 13px !important;
    }

    .log-in-btn 
    {
        width: 70%;
        margin-bottom: 10px;
    }

    .logout
    {
        width: 80%;
    }

    .playground-image
    {
        height: 95%;
        width: 95%;
    }

    .post, .comment, .playground-feed, .jumbotron, .guest-play, .map-div, .interactive-map-div, .my-playgrounds, .logo-display, .search-form, .playground-header, .playground-post-form, #user-playground-map-btn, .guest-map-btn, .today, .error-message
    {
        width: 95% !important;
    }

    .playground-name
    {
        display: inline-block;
        width: 100%;
        font-size: 12px !important;
        font-weight: bold;
        position: relative;
    }

    .playground-name + p
    {
        display: inline-block;
        width: 100%;
        font-size: 11px !important;
        font-weight: bold;
        position: relative;
    }

    .author
    {
        font-size: 12px !important;
        font-weight: bold;
    }

    .comment-text p
    {
        font-size: 11px !important;
    }

    .rolo-text p
    {
        font-size: 11px !important;
    }

    .wrap2 div p
    {
        font-size: 11px !important;
    }
}

.wrap2 div p
{
    font-size: 14px;
}

.playground-feed
{
    overflow: hidden;
}

.checked-in 
{
    background-position: -1px -50px !important;
}

.user-playground-name 
{
    display: inline;
    align-content: center;
}

.loading 
{
    padding: 30px;
}

a .jumbotron:active 
{ 
    box-shadow: none;
}

#user-playground-list
{
    margin-top: 25px;
}

.playground-status
{
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    display: inline-block;
}

.playground-status img
{
    float: left; 
    margin-top: 4px;
}

.play-range
{
    width: 30%;
    display: inline-block;
}

.user-playground-range
{
    display: inline;
    float: right;
    width: 64px;
    padding-top: 15px;
}

.playground-status p 
{
    padding-right: 25px;
}

.play-status
{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

.play-status img
{
    float: left; 
    margin-top: 12px;
}

.guest-nearby-play
{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

.error-image
{
    zoom: 25%;
    margin-bottom: 70px;
}

.error-message
{
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.day, .month, .year 
{
    background-color: #E4DDCA;
    border-radius: 6px;
}